@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --font-code: "Source Code Pro", monospace;
  --color-darkgrey: oklch(23.82% 0.0118 157.76);
  --color-lightgreen: oklch(80% 0.0488 157.76);
}